{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div>
    <h1>Bienvenido al Sistema de Gestión de Equipos</h1>
    <p>Aquí puedes registrar equipos de fútbol y gestionar usuarios.</p>

    {% if user.is_authenticated %}
        <a href="{% url 'lista_equipos' %}">Ver equipos</a>
        <a href="{% url 'crear_equipo' %}">Registrar equipo</a>
    {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}
</div>
{% endblock %}

